---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='赞助' view>
  <div class='flex flex-col items-center justify-center py-16'>
    <p class='text-lg'>正在跳转到赞助页面...</p>
    <meta http-equiv='refresh' content='0; url=/gold-bear-blog/projects#sponsorship' />
  </div>
</PageLayout>
