---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='赞助' view>
  <p>
    赞助信息已移至
    <a href='/gold-bear-blog/projects#sponsorship'>项目页面的赞助区</a>，
    点击跳转。
  </p>
  <script>
    // Auto-redirect
    window.location.href = '/gold-bear-blog/projects#sponsorship'
  </script>
</PageLayout>
